---
title: Home
---

# This is my site

It consists of:

1. Posts about my thoughts, ventures, and topics im interested in.
2. A <a href="/projects">directory</a> of things ive built, just in case you dont want to peruse my <a href="https://github.com/logscore">GitHub</a>
3. A <a href="/about">mini bio</a> of who i am, where i came from and where im going
4. A <a href="/awesome-logan">list</a> of cool sites and resources ive found over the years