---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import pfp from "../assets/pfp.jpg"
---

<BaseLayout title="About - Logan Reeder" description="About Logan Reeder">
  <div class="prose mx-6">
    <h1><strong>About</strong></h1>
    <Image
      alt="Logan Reeder"
      class="h-40 w-40 rounded-full object-cover"
      src={pfp}
      loading="eager"
    />
    <p>I'm a developer from Los Angeles living in Provo while attending BYU.</p>
    <p>I'm a founder, father, husband, and son of God in that reverse order.</p>
    <p>I like to build things that some people like, as well as things I want for myself</p>
  </div>
</BaseLayout>
