---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Logan Reeder" description="About Logan Reeder">
  <div class="prose mx-6 dark:prose-dark">
    <h1><strong>About</strong></h1>
    <img
      alt="Logan Reeder"
      class="h-40 w-40 rounded-full object-cover"
      src="/pfp.jpg"
    />
    <p>i'm a developer from Los Angeles living in Provo while attending BYU.</p>
    <p>i'm a founder, father, husband, and son of God in that reverse order.</p>
    <p>i like to build things that some people like, as well as things i want for myself</p>
  </div>
</BaseLayout>
