---
import BaseLayout from '../layouts/BaseLayout.astro';

const list = [
  {
    name: 'Zero Mail',
    description: 'Open source Gmail alternative',
    link: 'https://github.com/Mail-0/Zero',
  },
  {
    name: 'Vessium',
    description: 'AI native Zapier',
    link: 'https://www.vessium.com/',
  },
  {
    name: 'Soulbound',
    description: 'An 8-bit MMO RPG in your browser',
    link: 'https://soulbound.game/',
  },
  {
    name: 'Qubes OS',
    description: 'A secure, container based operating system',
    link: 'https://www.qubes-os.org/',
  },
  {
    name: 'Graphene OS',
    description: 'A privacy focused mobile operating system',
    link: 'https://grapheneos.org/',
  },
  {
    name: 'OpenSecrets',
    description: 'Allows you to track money, who gets it, and who gave it in US politics',
    link: 'https://www.opensecrets.org/',
  },
  {
    name: 'Boardsource',
    description: 'A site to buy keyboards and their components',
    link: 'https://www.boardsource.xyz/',
  },
  {
    name: 'Hyprland',
    description: 'Tiling window manager for Arch-based distros',
    link: 'https://hyprland.org/',
  },
  {
    name: 'LocalSend',
    description: 'Send files to other devices on a local network',
    link: 'https://localsend.org/',
  },
  {
    name: 'Prophetic',
    description: 'A head band to induce lucid dreaming (unreleased)',
    link: 'https://www.prophetic.com/',
  },
  {
    name: 'Kalker',
    description: 'A modern digital calculator',
    link: 'https://kalker.xyz/',
  },
  {
    name: 'GitKraken',
    description: 'A desktop (and VSCode extension) GUI for Git',
    link: 'https://www.gitkraken.com/',
  },
  {
    name: 'Zero Inbox',
    description: 'AI email management platform for organizing your inbox',
    link: 'https://www.getinboxzero.com/',
  },
  {
    name: 'Twenty',
    description: 'Open source CRM',
    link: 'https://twenty.com/',
  },
  {
    name: 'Cloud Convert',
    description: 'Convert any file format into another',
    link: 'https://cloudconvert.com/',
  },
  {
    name: 'OpenStatus',
    description: 'Open source service status page and API',
    link: 'https://www.openstatus.dev/',
  },
  {
    name: 'Comp AI',
    description: 'Open source compliance platform. Alternative to Vanda and Drata',
    link: 'https://trycomp.ai/',
  },
  {
    name: 'OSS Insight Widgets',
    description: 'Custom widgets for your Github README.md',
    link: 'https://twenty.com/',
  },
  {
    name: 'Lucid',
    description: 'AI assistant for writers',
    link: 'https://www.getlucid.app/',
  },
  {
    name: 'MakeShot Pro',
    description: 'Edit screenshots to make them pretty',
    link: 'https://makeshot.pro/',
  },
];
---

<BaseLayout title="Awesome - Logan Reeder" description="Cool sites and resources">
  <div class="prose mx-6 max-w-full dark:prose-dark">
    <h1>Awesome</h1>
    <h3>I hate categories. Just peep the description tbh</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody>
        {list.map((item) => (
          <tr>
            <td>{item.name}</td>
            <td>{item.description}</td>
            <td>
              <a href={item.link} target="_blank" rel="noopener noreferrer">Site</a>
            </td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
</BaseLayout>
