---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="prose mx-6 flex flex-col">
      <div>
    <h1>This is my site</h1>
    <p>It consists of:</p>
    <ol>
      <li>A <a href="/blog">blog</a> about my thoughts, ventures, and topics I'm interested in.</li>
      <li>A <a href="/projects">directory</a> of things I've built, just in case you don't want to peruse my <a href="https://github.com/logscore">GitHub</a></li>
      <li>A <a href="/about">mini bio</a> of who I am, where I came from and where I'm going</li>
    </ol>
      </div>
  </div>
</BaseLayout>
