---
---

<div class="mx-6 my-4 flex items-center justify-between">
  <a
    href="https://x.com/logscore"
    class="inline-flex items-center gap-1.5 rounded-sm px-2 py-1.5 text-center text-sm font-bold transition-all ease-in-out hover:bg-secondary"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 15 15"
      fill="none"
      class="h-[1rem] w-[1rem]"
    >
      <path
        d="M7.23336 4.69629C7.23336 2.96884 8.63335 1.56857 10.36 1.56857C11.3736 1.56857 12.183 2.04804 12.7254 2.74385C13.3079 2.62467 13.8557 2.40913 14.3513 2.11508C14.1559 2.72598 13.7424 3.2396 13.2033 3.56463C13.2038 3.56568 13.2042 3.56674 13.2047 3.56779C13.7334 3.50361 14.2364 3.36302 14.7048 3.15546L14.7037 3.15715C14.3667 3.66183 13.9431 4.10736 13.4561 4.47034C13.4823 4.64672 13.4956 4.82427 13.4956 5.00079C13.4956 8.6871 10.6873 12.9746 5.52122 12.9746C3.93906 12.9746 2.46544 12.511 1.22505 11.7152C0.992632 11.5661 0.925108 11.2568 1.07423 11.0244C1.0874 11.0038 1.10183 10.9846 1.11734 10.9666C1.20582 10.8202 1.37438 10.7309 1.5554 10.7522C2.47066 10.8601 3.38568 10.7485 4.19219 10.3962C3.39226 10.0842 2.77129 9.43589 2.48804 8.62286C2.36761 8.28929 2.55589 7.92281 2.88946 7.80238C2.91514 7.79339 2.94136 7.78564 2.96801 7.77905C2.17396 7.28198 1.64855 6.40668 1.64855 5.40546C1.64855 5.38789 1.64878 5.37036 1.64924 5.35287C1.65357 5.01382 1.93003 4.74206 2.26908 4.74206C2.30015 4.74206 2.33085 4.74463 2.3609 4.74972C1.83755 4.15021 1.52762 3.36903 1.52762 2.51403C1.52762 2.27614 1.55185 2.04369 1.59824 1.81868C1.65425 1.5643 1.88398 1.38508 2.14426 1.38508C2.33371 1.38508 2.51177 1.47588 2.62362 1.62755C3.81672 3.14379 5.56145 4.16968 7.55235 4.54644C7.43668 4.27607 7.37339 3.98049 7.36969 3.67073C7.36969 3.67073 7.23336 4.69629 7.23336 4.69629Z"
        fill="currentColor"
        fill-rule="evenodd"
        clip-rule="evenodd"
      ></path>
    </svg>
    Follow Me
  </a>
  <a
    href="https://github.com/logscore/site"
    class="rounded-sm px-2 py-1.5 text-center text-xs font-bold transition-all ease-in-out hover:bg-secondary"
  >
    Edit this page
  </a>
</div>
