---
---

<div class="my-4 flex items-center justify-between">
  <a
    href="/"
    class="rounded-sm px-3 py-1.5 text-xl font-bold transition-all ease-in-out hover:bg-secondary"
  >
    Logan Reeder
  </a>
  <div class="flex items-center gap-1 py-1 pr-3">
    <a
      class="rounded-sm px-2.5 py-2.5 text-center text-sm font-bold transition-all ease-in-out hover:bg-secondary"
      href="/about"
    >
      About
    </a>
    <a
      class="rounded-sm px-2.5 py-2.5 text-center text-sm font-bold transition-all ease-in-out hover:bg-secondary"
      href="/projects"
    >
      My Stuff
    </a>
  </div>
</div>
